$primary: #545BE8;
$secondary: #F0C932;
$dark: #393E46;
$dropdown-min-width: 0;
$dropdown-padding-y: 0;
// $btn-focus-shadow-rgb: 245, 245, 245;

@import "node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --bs-body-font-family: 'Poppins', sans-serif;
}
